### Importing libraries

In [1]:
import pandas as pd
import numpy as np

### Reading the dataset from the last part

In [2]:
df = pd.read_csv(r'dataset_part_1.csv')
df.head()

,FlightNumber,Date,BoosterVersion,PayloadMass,Orbit,LaunchSite,Outcome,Flights,GridFins,Reused,Legs,LandingPad,Block,ReusedCount,Serial,Longitude,Latitude
0,1,04-06-2010,Falcon 9,8191.0,LEO,CCSFS SLC 40,None None,1,False,False,False,NaN,1,0,B0003,-80.577366,28.561857
1,2,22-05-2012,Falcon 9,525.0,LEO,CCSFS SLC 40,None None,1,False,False,False,NaN,1,0,B0005,-80.577366,28.561857
2,3,01-03-2013,Falcon 9,677.0,ISS,CCSFS SLC 40,None None,1,False,False,False,NaN,1,0,B0007,-80.577366,28.561857
3,4,29-09-2013,Falcon 9,500.0,PO,VAFB SLC 4E,False Ocean,1,False,False,False,NaN,1,0,B1003,-120.610829,34.632093
4,5,03-12-2013,Falcon 9,3170.0,GTO,CCSFS SLC 40,None None,1,False,False,False,NaN,1,0,B1004,-80.577366,28.561857

In [3]:
#number of launches on each site
df['LaunchSite'].value_counts()

CCSFS SLC 40       93
KSC LC 39A         44
VAFB SLC 4E        23
Kwajalein Atoll     8
Name: LaunchSite, dtype: int64

In [4]:
df[df['LaunchSite'] == 'Kwajalein Atoll']

,FlightNumber,Date,BoosterVersion,PayloadMass,Orbit,LaunchSite,Outcome,Flights,GridFins,Reused,Legs,LandingPad,Block,ReusedCount,Serial,Longitude,Latitude
148,149,08-06-2022,Falcon 9,3938.0,GEO,Kwajalein Atoll,True ASDS,7,True,True,True,5e9e3033383ecbb9e534e7cc,5,8,B1062,167.743129,9.047721
149,150,01-06-2022,Falcon 9,13260.0,VLEO,Kwajalein Atoll,True ASDS,13,True,True,True,5e9e3033383ecb075134e7cd,5,12,B1060,167.743129,9.047721
150,151,18-06-2022,Falcon 9,2200.0,SSO,Kwajalein Atoll,True RTLS,3,True,True,True,5e9e3032383ecb554034e7c9,5,3,B1071,167.743129,9.047721
151,152,19-06-2022,Falcon 9,700.0,LEO,Kwajalein Atoll,True ASDS,9,True,True,True,5e9e3033383ecbb9e534e7cc,5,9,B1061,167.743129,9.047721
160,161,09-08-2022,Falcon 9,13260.0,VLEO,Kwajalein Atoll,True ASDS,3,True,True,True,5e9e3033383ecb075134e7cd,5,2,B1073,167.743129,9.047721
161,162,12-08-2022,Falcon 9,13260.0,VLEO,Kwajalein Atoll,True ASDS,10,True,True,True,5e9e3032383ecb6bb234e7ca,5,9,B1061,167.743129,9.047721
162,163,19-08-2022,Falcon 9,13260.0,VLEO,Kwajalein Atoll,True ASDS,9,True,True,True,5e9e3033383ecb075134e7cd,5,8,B1062,167.743129,9.047721
163,164,28-08-2022,Falcon 9,13260.0,VLEO,Kwajalein Atoll,True ASDS,2,True,True,True,5e9e3033383ecb075134e7cd,5,1,B1069,167.743129,9.047721

In [5]:
# Calculating the occurence of each orbit
df['Orbit'].value_counts()

VLEO     54
ISS      32
GTO      31
LEO      14
PO       13
SSO      11
MEO       5
GEO       2
TLI       2
ES-L1     1
HEO       1
SO        1
Name: Orbit, dtype: int64

In [6]:
# Calculting the number and occurence of mission outcome of the orbits
landing_outcomes = df['Outcome'].value_counts()
for i,outcome in enumerate(landing_outcomes.keys()):
    print(i,outcome)

0 True ASDS
1 True RTLS
2 None None
3 False ASDS
4 True Ocean
5 False Ocean
6 None ASDS
7 False RTLS

In [7]:
# getting the ouctomes where booster did not land successfully from the corresponding indexes, 2,3,5,6,7
bad_outcomes=set(landing_outcomes.keys()[[2,3,5,6,7]])
bad_outcomes

{'False ASDS', 'False Ocean', 'False RTLS', 'None ASDS', 'None None'}

In [8]:
# landing_class = 0 for bad outcome and 1 for not
landing_class = []
for x in df['Outcome']:
    if x in bad_outcomes:
        landing_class.append(int(0))
    else:
        landing_class.append(int(1))
landing_class

[0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1]

In [9]:
df['Class'] = landing_class
df[['Class']].head(8)

   Class
0      0
1      0
2      0
3      0
4      0
5      0
6      1
7      1

In [10]:
# calculating the success rate
df['Class'].mean()

0.8154761904761905

### Saving the wrangled and processed dataset

In [11]:
df.to_csv("dataset_part_2.csv", index=False)